<footer class=" p-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <h5>SAVELIFE</h5>
        <ul>
          <li><a href="">Register</a></li>
          <li><a href="">Live Feed</a></li>
          <li><a href="">Find Blood</a></li>
          <li><a href="">Volunteers</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-6 ">
        <h5>COMPANY</h5>
        <ul>
          <li><a href="">Donate</a></li>
          <li><a href="">News & Stories</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact US</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-6 ">
        <h5>LEGAL</h5>
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Term Of Service</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-6 ">
        <h5>LATEST NEWS</h5>
        <ul>
          <li><a href="">Road Accidents Cause a Blood Emergency</a></li>
          <li><a href="">Amazing Facts about Blood Donation</a></li>
        </ul>
      </div>
    </div>

    <div class="row end">
      <div class="parent d-flex justify-content-between">
        <div class="logo d-flex">
          <i class="fas fa-heartbeat"></i>
          <h4>Blood Donation</h4>
        </div>
  
        <div class="social">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
