a{
    text-decoration: none;
    color: #f65E68;
    font-size: 18px;
}
ul{
    list-style: none;
}
button{
    background-color: #f65E68;
    color: #fff;
    border: 1px solid #f65E68;
}
textarea{
    resize: none;
}