<section class="py-5">

    <div class="py-5">
        <ul class="d-flex justify-content-center align-items-center py-5">
            <li class="px-5"><a class="fw-bolder" routerLink="/feed">Feed</a></li>
            <li class="px-5"><a class="fw-bolder" routerLink="/request">Donation Request</a></li>
            <li class="px-5"><a class="fw-bolder" routerLink="/history">History</a></li>
        </ul>

    </div>

    <div class="request " id="request">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input required type="text" class="form-control py-3 my-3" placeholder="name">
                        <input required type="text" class="form-control py-3 my-3" placeholder="location">
                    </div>
                    <div class="col-md-6">
                        <input required list="browsers" class="form-control py-3 my-3" placeholder="blood type">
                        <datalist id="browsers">
                            <option  value="+A">
                            <option value="+B">
                            <option value="+O">
                            <option value="+ab">
                            <option  value="-A">
                            <option value="-B">
                            <option value="-O">
                            <option value="-ab">
                        </datalist>
                        <input required list="city" class="form-control py-3 my-3" placeholder="city">
                        <datalist id="city">
                            <option  value="Alexandria">
                            <option value="Aswan">
                            <option value="Asyut">
                            <option value="Damanhur">
                            <option  value="Beni Suef">
                            <option value="Cairo">
                            <option value="Mansoura">
                            <option value="Damietta">
                            <option  value="Faiyum">
                            <option value="Tanta">
                            <option value="Giza">
                            <option value="Ismailia">
                            <option  value="Kafr El Sheikh">
                            <option value="Luxor">
                            <option value="Shibin El Kom">
                            <option value="Kharga">
                            <option value="Arish">
                            <option  value="Port Said">
                            <option value="Banha">
                            <option value="Qena">
                            <option value="Hurghada">
                            <option  value="Zagazig">
                            <option value="Sohag">
                            <option value="El Tor">
                            <option value="Suez">
                        </datalist>
                    </div>

                </div>
                <textarea name="comment" required placeholder="comment" class="form-control py-3 my-3" id="" cols="3" rows="3"></textarea>
                <button type="submit" class="px-5 py-1">Add</button>
            </div>

        </form>
    </div>
</section>