<section id="dashHistory" class="py-5">
    <div class="pt-5">
        <ul class="d-flex justify-content-center align-items-center py-5">
            <li class="px-5"><a class="fw-bolder" routerLink="/feed">Feed</a></li>
            <li class="px-5"><a class="fw-bolder" routerLink="/request">Donation Request</a></li>
            <li class="px-5"><a class="fw-bolder" routerLink="/history">History</a></li>
        </ul>

    </div>
    <div class="container">
        <div class="donate_History">
            <div class="row g-4 justify-content-center">
                <div class="col-xl-6">
                    <div class="post bg-white">

                        <div class="person p-3 d-flex justify-content-between align-items-center">
                            <div class="per-img">
                                <img src="assets/img/mohammad.svg" alt="">
                            </div>
                            <a href="#">
                                <div class="per-inf">
                                    <p class="mb-0 text-center"><b>Arch Abd Elrahman Kasem</b> Donated to <b>Mohamed Ali</b></p>
                                    <small>form 3 months ago</small>
                                </div>
                            </a>
                            <div class="per-img">
                                <img src="assets/img/hamza.svg" alt="">
                            </div>
                        </div>

                        <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore accusamus fuga molestiae aliquid! Nostrum, veritatis tempora sunt repellendus eum rerum neque, reprehenderit molestias unde magnam ad? Labore provident ipsum ipsa
                            error molestiae velit, ipsam repellendus voluptates recusandae iusto qui, accusamus consequuntur! Iste deleniti quibusdam voluptate! Vel ad commodi dignissimos reprehenderit.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>