/* Main Componnent */

#dashHistory {
    background-color: #f65E68;
}

a {
    text-decoration: none;
}

p,
a {
    color: gray
}

small {
    color: #c5c5c5;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff !important;
    font-size: 18px;
}

ul {
    list-style: none;
}


/* End */

.post {
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0 0 0 /10%);
}

.per-inf {
    margin: 0 10px;
    text-align: center;
}

.per-inf h3,
.details-inf h3 {
    margin: 2px 0;
    font-weight: 500;
    color: #222;
    font-size: 1rem;
    text-transform: capitalize;
}

.per-inf p,
.details-inf p {
    color: gray;
}

.per-img img {
    width: 90px;
    border-radius: 50%;
}

.post>p {
    background-color: #f4f4f4;
}

@media (max-width:576px) {
    .per-img img {
        width: 60px;
    }
    p {
        font-size: 14px;
    }
    small {
        font-size: 12px;
    }
}