<header>
    <div class="py-5">
        <div class="container py-5 mt-5">
            <h1 class="text-center text-white fw-bolder py-3">Save Life</h1>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="request p-3 bg-white shadow text-primary text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-2"><img src="assets/img/mohammad.svg" alt="mohammad"></div>
                            <div>
                                <h6 class="m-0">Mohammad</h6>
                            </div>
                        </div>
                        <div class="type d-flex align-items-center justify-content-center my-2">

                            <img src="assets/img/b+.svg" alt="b+">
                            <p class="m-0">BLOOD REQUEST</p>
                        </div>
                        <p><i class="fas fa-map-marker-alt me-1"></i>Cairo Hospital, Egypt</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="request p-3 bg-white shadow text-primary text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-2"><img src="assets/img/ahsen.svg" alt="ahmed"></div>
                            <div>
                                <h6 class="m-0">Ahmed</h6>
                            </div>
                        </div>
                        <div class="type d-flex align-items-center justify-content-center my-2">

                            <img src="assets/img/b+.svg" alt="b+">
                            <p class="m-0">BLOOD REQUEST</p>
                        </div>
                        <p><i class="fas fa-map-marker-alt me-1"></i>Ain-Shams Hospital, Egypt</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="request p-3 bg-white shadow text-primary text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-2"><img src="assets/img/ayesha.svg" alt="ayesha"></div>
                            <div>
                                <h6 class="m-0">Ayesha</h6>
                            </div>
                        </div>
                        <div class="type d-flex align-items-center justify-content-center my-2">

                            <img src="assets/img/b+.svg" alt="b+">
                            <p class="m-0">BLOOD REQUEST</p>
                        </div>
                        <p><i class="fas fa-map-marker-alt me-1"></i>Elnozha Hospital, Egypt</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="request p-3 bg-white shadow text-primary text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-2"><img src="assets/img/hamza.svg" alt="hamza"></div>
                            <div>
                                <h6 class="m-0">Hamza</h6>
                            </div>
                        </div>
                        <div class="type d-flex align-items-center justify-content-center my-2">

                            <img src="assets/img/b+.svg" alt="b+">
                            <p class="m-0">BLOOD REQUEST</p>
                        </div>
                        <p><i class="fas fa-map-marker-alt me-1"></i>Heliopolis Hospital, Egypt</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="request p-3 bg-white shadow text-primary text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-2"><img src="assets/img/man1.svg" alt="=ali"></div>
                            <div>
                                <h6 class="m-0">Ali</h6>
                            </div>
                        </div>
                        <div class="type d-flex align-items-center justify-content-center my-2">

                            <img src="assets/img/b+.svg" alt="b+">
                            <p class="m-0">BLOOD REQUEST</p>
                        </div>
                        <p><i class="fas fa-map-marker-alt me-1"></i>Eldemerdash Hospital, Egypt</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="request p-3 bg-white shadow text-primary text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-2"><img src="assets/img/woman1.svg" alt="aya"></div>
                            <div>
                                <h6 class="m-0">Aya</h6>
                            </div>
                        </div>
                        <div class="type d-flex align-items-center justify-content-center my-2">

                            <img src="assets/img/b+.svg" alt="b+">
                            <p class="m-0">BLOOD REQUEST</p>
                        </div>
                        <p><i class="fas fa-map-marker-alt me-1"></i>Cleopatra Hospital, Egypt</p>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>

    <div class="woman1 move">
        <img class="w-100 bg-white rounded-circle shadow" src="assets/img/woman1.svg" alt="woman">
        <img class="bg-white rounded-circle p-2 img2 shadow" src="assets/img/a-type.svg" alt="a-type">
    </div>
    <div class="woman2 move1">
        <img class="w-100 bg-white rounded-circle shadow" src="assets/img/woman2.svg" alt="woman">
        <img class="bg-white rounded-circle p-2 img2 shadow" src="assets/img/o-type.svg" alt="o-type">
    </div>
    <div class="woman3 move">
        <img class="w-100 bg-white rounded-circle shadow" src="assets/img/woman4.svg" alt="woman">
        <img class="bg-white rounded-circle p-2 img2 shadow" src="assets/img/b-type.svg" alt="b-type">
    </div>
    <div class="man1 move1">
        <img class="w-100 bg-white rounded-circle shadow" src="assets/img/man2.svg" alt="man">
        <img class="bg-white rounded-circle p-2 img2 shadow" src="assets/img/ab-type.svg" alt="ab-type">
    </div>
    <div class="man2 move1">
        <img class="w-100 bg-white rounded-circle shadow" src="assets/img/man1.svg" alt="man">
        <img class="bg-white rounded-circle p-2 img2 shadow" src="assets/img/ab-type.svg" alt="ab-type">
    </div>
    <div class="man3 move">
        <img class="w-100 bg-white rounded-circle shadow" src="assets/img/man4.svg" alt="man">
        <img class="bg-white rounded-circle p-2 img2 shadow" src="assets/img/a-type.svg" alt="a-type">
    </div>
</header>

<section class="save py-5">
    <div class="container py-5">
        <div class="text-center">
            <img class="savelife" src="assets/img/savelife-circled.svg" alt="savelife">
            <h2 class="h1">
                We Save Lives
            </h2>
            <p class="h4 text-muted">
                Find blood donors near your location and make a blood request in less than 5 minutes.
            </p>
        </div>
        <div class="row pt-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img class="savelife" src="assets/img/blood.svg" alt="blood">
                    <h4 class="py-2">
                        Find Blood
                    </h4>
                    <p class="text-muted px-3">
                        Find blood donors near your location and request the needed blood type
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="savelife" src="assets/img/notifications.svg" alt="notifications">
                    <h4 class="py-2">
                        Get Notified
                    </h4>
                    <p class="text-muted px-3">
                        Get notified about requests instantly, either on our app or by sms
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="savelife" src="assets/img/free.svg" alt="savelife">
                    <h4 class="py-2">
                        Forever Free
                    </h4>
                    <p class="text-muted px-3">
                        You don't have to pay anything, Save Life Connect is forever Free !
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="join py-5 bg-light">
    <div class="container">
        <div class="text-center">
            <img class="savelife" src="assets/img/savelife-circled.svg" alt="savelife">
            <h2 class="h1">
                Join the Cause
            </h2>
            <p class="h4 text-muted">
                Join our cause and help us save more lives. Everyone should have the right to get a blood transfusion.
            </p>
        </div>
        <div class="row py-5">
            <div class="col-md-6 d-flex justify-content-center align-items-center px-3">
                <div>

                    <h3>
                        <i class="fas fa-search me-2"></i>Find Donors in your Area
                    </h3>
                    <p class="py-2 text-muted">
                        Get connected in a matter of minutes at zero cost. Our App ships with a smart system that finds the closest blood donors. Our automated blood donation system works efficiently whenever someone needs a blood transfusion.
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-3">
                <div class="move2">

                    <img class="w-100" src="assets/img/localisation.svg" alt="localisation">
                </div>
            </div>

            <div class="col-md-6 px-3">
                <div class="move3">

                    <img class="w-100" src="assets/img/connect.svg" alt="connect">
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center px-3">
                <div>

                    <h3>
                        <i class="far fa-clock me-2"></i>Answer to Emergencies
                    </h3>
                    <p class="py-2 text-muted">
                        As soon as a new blood request is raised, it is routed among our local volunteer blood donors. We know time matters! So we keep you updated with real-time notifications sent directly to you via SMS (text message) or the installed mobile app
                    </p>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center px-3">
                <div>

                    <h3>
                        <i class="fas fa-mobile-alt me-2"></i>Made for Everyone
                    </h3>
                    <p class="py-2 text-muted">
                        All you need to do is send a text message to 8655, "blood need (blood-group) in (your-city)", in any language you want. Our system is smart enough to understand anything you write and helps you find a donor within minutes if not seconds.
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-3">
                <div class="move2">

                    <img class="w-100" src="assets/img/emergency.svg" alt="emergency">
                </div>
            </div>

            <div class="col-md-6 px-3">
                <div class="move3">

                    <img class="w-100" src="assets/img/savelife.svg" alt="savelife">
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center px-3">
                <div>

                    <h3>
                        <i class="fas fa-award me-2"></i>You are someone's Hero
                    </h3>
                    <p class="py-2 text-muted">
                        In as little as few minutes, you can become someone's unnamed, unknown, but all-important Hero. Saving a life is a noble work that starts very simply and easily. Donate Blood or donate Money, every form of contribution you make is important, valued and
                        essential in our shared mission to save lives. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lives py-5">
    <div class="container">
        <div class="text-center">
            <img class="savelife" src="assets/img/savelife-circled.svg" alt="savelife">
            <h2 class="h1">
                Lives Saved
            </h2>
            <p class="h4 text-muted">
                Save Life Connect helped saving the live of more than 26 000 people. Help us saving more !
            </p>
        </div>

        <div class="row py-5">
            <div class="col-md-6 p-3">
                <div class="item p-3">
                    <div class="d-flex">
                        <div class="me-2"><img src="assets/img/hamza.svg" alt="hamza"></div>
                        <div>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h6 class="m-0">Hamza</h6>
                            <small>Cairo</small>
                        </div>
                    </div>
                    <p class="mt-2">
                        " We don't have to worry anymore for our emergencies. We simply request blood immediately get contacted by donors. "
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="item p-3">
                    <div class="d-flex">
                        <div class="me-2"><img src="assets/img/ayesha.svg" alt="ayesha"></div>
                        <div>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h6 class="m-0">Ayesha</h6>
                            <small>Aswan</small>
                        </div>
                    </div>
                    <p class="mt-2">
                        " Our hospital often uses Savelife Connect to handle blood transfusion emergencies. It is truly a great service. "
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="item p-3">
                    <div class="d-flex">
                        <div class="me-2"><img src="assets/img/ahsen.svg" alt="ahmed"></div>
                        <div>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h6 class="m-0">Ahmed</h6>
                            <small>Alex</small>
                        </div>
                    </div>
                    <p class="mt-2">
                        " A member of my family needed blood but his blood type is quite hard to find. Savelife helped use figure it out in no time ! "
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="item p-3">
                    <div class="d-flex">
                        <div class="me-2"><img src="assets/img/mohammad.svg" alt="mohammad"></div>
                        <div>
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h6 class="m-0">Mohammad</h6>
                            <small>Giza</small>
                        </div>
                    </div>
                    <p class="mt-2">
                        " I regularly donate my blood to answer Savelife Connect blood requests. Very proud to contribute saving lives ! "
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

<footer class="py-5">
    <div class="text-center py-5">
        <h2 class="h1 text-white">
            Start Saving Lives
        </h2>
        <p class="h4 text-white">
            Become a donor or request for blood and help save lives
        </p>
        <button (click)="register()" class="btn btn-outline-light rounded-pill my-2 px-4 border-2">Register</button>
    </div>
</footer>